/*estilo do cabeçalho*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --low-black: rgba(0, 0, 0, 0.71);
  --lower-black: rgba(0, 0, 0, 0.61);
  --orange: rgb(255, 136, 0);
  --milk-capucci: #f0e0d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body, #root {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
}

header {
  background-color: var(--low-black);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wholeLogo {
  position: relative;
  left: -5%;
  height: 80%;
  display: flex;
  align-items: center;
}

.nomedosite {
  color: var(--orange);
  font-size: 2.4rem;
  text-transform: uppercase;
}

.logo {
  height: 100%;
  position: relative;
  left: 5%;
}

.busca {
  height: 8vh;
  background-color: var(--lower-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.spanBusca {
  height: 50%;
  width: 30%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: .6rem;
  transition: 0.2s;
}

.spanBusca:focus-within {
  width: 40%;
  outline: .15rem solid var(--orange);
}

.iconBusca {
  position: absolute;
  left: -100vw;
  margin: 0 .5rem;
}

.spanBusca:focus-within > .iconBusca {
  position: relative;
  left: 0;
}

.spanBusca input {
  display: inline;
  height: 100%;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: .6rem;
}

.spanBusca input:focus {
  outline: none;
}

.lengthODAS {
  padding: .1rem 0 .5rem 0;
  background-color: var(--lower-black);
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.boxODAS {
  display: flex;
  justify-content: center;
}

.boxODAS:last-of-type {
  margin-bottom: 2rem;
}

.blockODAS {
  height: 55%;
  width: 60%;
  padding: 2rem 4rem;
}

.dadosODA {
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 .3rem .1rem var(--lower-black);
  background-color: rgba(255, 255, 255, 0.11);
  background-color: #fff;
}

.dadosODA * {
  margin: .5rem;
}

.dadosODA > p {
  max-height: 0;
  opacity: 0;
  transition: margin .1s, max-height .5s, opacity 1s linear;
  overflow: hidden;
  margin: 0;
}

.dadosODA:hover {
  display: block;
}

.dadosODA:hover > p {
  opacity: 1;
  max-height: 50rem;
  margin: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  color: #fff;
  background-color: var(--low-black);
}

@media screen and (max-width: 500px) {

  header {
    height: 12vh;
  }

  .wholeLogo {
    width: 100%;
    left: -10%;
    justify-content: center;
  }

  .nomedosite {
    font-size: 1.4rem;
  }

  .logo {
    transform: scale(0.6);
    left: 10%;
  }

  .spanBusca {
    width: 80%;
  }

  .spanBusca:focus-within {
    width: 90%;
  }

  .boxODAS {
    width: 100%;
  }

  .blockODAS {
    width: 100%;
  }

}
